h1{
    font-family: Impact, fantasy;
    font-family: sans-serif;
    font-size:80;
    text-align: center;
    text-decoration: underline;
    color:crimson;
    
    
}

h2{ text-align: center;
    font-family: monospace;
    font-weight: 200;
    font-style: italic;
    color: crimson;
}


p{
    font-family: Helvetica, sans-serif;  
    text-decoration-color: chocolate;
}

#menu{
    width: 100%;
    height: 14px;
    background-color: bisque;
    text-align: end
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    
}

.gallery img{
    align-items: center;
    width: 224px;
    height: 340px;
    
}

img src="images/bestwines.jpg"{
width:default;
background-blend-mode: color-dodge;
}

a hre


    